body {
    margin: 1rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-family:'Patua One', cursive;
    ;
}

#main-header {
    text-align: center;
}

#navbar {
    background-color: #000b82;
    overflow: hidden;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}
